.QuoteGroup {
  display: flex;
  align-items: flex-start;
  gap: 1px;
}
.QuoteWrapper {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-wrap: wrap;
  color: #ffff;
}
.QuoteWrapper p {
    display: inline-block;
    margin-block: 0;
    width: auto;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-wrap: wrap;
    color: #ffff;
  }

  .Author {
    margin-top: 13px;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    text-wrap: wrap;
  }

  .RefreshWrapper {
    background: none;
    margin: 0;
    margin-left: 16.67px;
    padding: 0;
    margin-top: 5px;
    border: none;
    cursor: pointer;
  }

  .RefreshWrapper > img {
    width: 16.67px;
    height: 16.67px;
  }
@media (min-width: 200px) {
  .QuoteWrapper p {
    font-size: 12px;
    line-height: 22px;
  }
  .RefreshWrapper {
    margin-top: 2px;
  }
  .Author {
    font-size: 12px;
    line-height: 22px;
    margin-top: 8px;
  }
}

@media (min-width: 620px) {
  .QuoteGroup {
    max-width: 90%;
  }
  .QuoteWrapper p {
    font-size: 18px;
    line-height: 28px;
  }

  .Author {
    margin-top: 13px;
    font-size: 18px;
    line-height: 28px;
  }

  .RefreshWrapper {
    margin-left: 16.67px;
    margin-top: 5px;
  }

}
@media (min-width: 1050px) {
  .QuoteGroup {
    max-width: 540px;
  }
}
